.attribution {
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }

* {
    box-sizing: border-box;
    Font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --darkGrey: hsl(240, 2%, 22%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
}

body {
    background-color: var(--veryDarkBlue);
    color: var(--white);
}

h2 {
    font-size: 1.5rem;
}

p {
    opacity: .75;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 375px;
    background-color: var(--darkBlue);
    padding: 1.25rem;
    border-radius: 1rem;
   
}

.submit-btn {
    width: 100%;
    background-color: var(--orange);
    text-decoration: none;
    outline: none;
    inline-size: none;
    border: none;
    display: block;
    border-radius: 100px;
    padding: .5rem;
    pointer-events: all;
    color: var(--white);
    font-weight: 700;
    text-align: center;
    font-size: 1.25rem;
}

.submit-btn:hover,
.submit-btn:active {
    background-color: var(--white);
    color: var(--orange)
}

.img-star {
    background-color: var(--darkGrey);
    padding: .5em;
    border-radius: 5rem;
}
.rating {
    display: inline-block;
    height: 4.5rem;
    width: 100%;
    margin: 0 auto;
    border: none;
    overflow: hidden;
    background-color: var(--darkBlue);
}

.rating::-moz-focus-inner {
    border: 0;
}

.rating:focus {
    outline: none;
}

.rating label {
    position: relative;
    width: 13%;
    text-align: center;
    display: inline-block;    
    font-size: 1.5rem;
    color: var(--white);
    padding: 0.5rem .5rem;
    margin: 0 auto;
    margin-right: .65rem;
    margin-left: .65rem;
    background-color: var(--darkGrey);
    border-radius: 100px;
}

.rating [type="radio"]:checked + label{
    background-color: var(--lightGrey);
}

.rating [type="radio"]:hover + label {
    background-color: var(--orange);
}

input[type="radio"] {
    display: none;
  }
